html, body{
    height: 100%;
}
.body-container
{
    position: relative;
    min-height: 100%;
}

.post-block{

}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1.0rem;
}


.post-title{
    font-size: 1.5rem;
}

.post-meta{
    font-size: 0.8rem;

}

.post-body{
    line-height: 2;
}

.post-footer{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
    min-height: 50px;
}

a{
    color: inherit;
}

.main-container{
    padding-bottom: 100px;
}

.login-container
{
    border: 1px solid #ced4da;
    width: 40%;
    margin: 200px auto;
    padding:50px
}

.comment-list
{
    margin-bottom: 0;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}