{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}

{% block title %}分类<{{category.name}}>的文章列表{% endblock %}

{% block main_content %}
<div class="mt-5">
    <h5>分类<span class="text-primary">&nbsp;{{category.name}}&nbsp;</span>的文章列表({{ category.posts | length }})</h5>
</div>
<main>
    {% if posts %}
    {% set ns=namespace(old_year=0) %}
    {% for post in posts %}
    {% if post.timestamp.year != ns.old_year %}
         <div class="mt-4 mb-2 d-inline-block post-archive-title">{{post.timestamp.year}}年</div>
    {% endif %}
          <div class="mt-2 pb-2 post-archive-item">
                {{moment(post.timestamp).format('MM-DD')}}:
                <a href="{{url_for('main.show_post',post_id=post.id)}}">{{post.title}}</a>
          </div>
     {% set ns.old_year = post.timestamp.year %}
    {% endfor %}
    {% else %}
    <div class="tip"><h5>没有文章</h5></div>
    {% endif %}
</main>
{% endblock %}
