{% extends 'base.html' %}

{% block title %} 关于博客 {% endblock title%}
{% block main_content %}
<article>
    <div class="post-header mt-5">
        <h5 class="d-inline-block post-title">{{admin.about_title}}</h5>
        {% if current_user.is_authenticated %}
            <span class="float-right"><a class="btn btn-primary btn-sm" href="{{ url_for('admin.edit_about') }}">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;编辑</a></span>
    {% endif %}
    </div>
    <div class="mt-4 post-body">
        {{ admin.about_html | safe }}
    </div>
</article>
{% endblock %}

