<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Piccolo blog">
    <meta name="author" content="Piccolo">
    <title>Piccolo | {% block title%}Home{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap4-retro.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/code.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto Sans SC" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <div class="body-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index')}}">Piccolo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item mx-4 {% if request.endpoint == 'main.index' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('main.index')}}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp主页</a>
                    </li>
                    <li class="nav-item mx-4 dropdown">
                        <button class="btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-list" aria-hidden="true"></i>&nbsp分类</button>
                        <div class="dropdown-menu">
                            {% for category in categories%}
                            <a class="dropdown-item" href="{{url_for('main.show_category_detail',category_id=category.id)}}">
                                {{category.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item mx-4 dropdown">
                        <button class="btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tags" aria-hidden="true"></i>&nbsp标签</button>
                        <div class="dropdown-menu">
                            {% for tag in tags%}
                            <a class="dropdown-item" href="{{url_for('main.show_tag_detail',tag_id=tag.id)}}">
                                {{tag.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <!--li class="nav-item mx-4 {% if request.endpoint == 'main.show_all_categories' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('main.show_all_categories')}}"><i class="fa fa-list" aria-hidden="true"></i>&nbsp分类</a>
                    </li>
                    <li class="nav-item mx-4 {% if request.endpoint == 'main.show_all_tags' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('main.show_all_tags')}}"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp标签</a>
                    </li-->
                    <li class="nav-item mx-4 {% if request.endpoint == 'main.show_all_posts' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('main.show_all_posts')}}"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp归档</a>
                    </li>
                    <li class="nav-item mx-4 {% if request.endpoint == 'main.about_me' %}active{% endif %}">
                        <a class="nav-link" href="{{url_for('main.about_me')}}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp关于</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <button class="btn nav-link dropdown-toggle active" data-toggle="dropdown"><i class="fa fa-gears" aria-hidden="true"></i>&nbsp管理</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{url_for('admin.manage_post')}}">博客</a>
                            <a class="dropdown-item" href="{{url_for('admin.manage_comment')}}">评论</a>
                            <a class="dropdown-item" href="{{url_for('main.show_all_categories')}}">分类</a>
                            <a class="dropdown-item" href="{{url_for('main.show_all_tags')}}">标签</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container main-container">
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
        {% endfor %}
        <div class="row">
            {% block content %}
            <div class="col-12">
                {% block main_content %}
                {% endblock main_content %}
                {% block pagination %}
                {% endblock pagination %}
            </div>
            {% endblock %}
        </div>
    </div>
    {% block footer %}
    <footer class="py-3 bg-transparent text-center mt-5 text-muted post-footer">
        <div>
            <span class="mx-1">Powered by <a class="link-mute" href="https://github.com/pallets/flask">flask</a></span>|
            <span class="mx-1"> @2019 &nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp piccolo</span>|
            {% if current_user.is_authenticated %}
            <span class="mx-1"> <i class="fa fa-sign-out" aria-hidden="true"></i><a class="link-mute" href="{{ url_for('auth.logout')}}">&nbsp logout</a></span>
            {% else %}
            <span class="mx-1"> <i class="fa fa-sign-in" aria-hidden="true"></i><a class="link-mute" href="{{ url_for('auth.login')}}">&nbsp login</a></span>
            {% endif %}
        </div>
    </footer>
    {% endblock footer %}
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='js/jquery-slim.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/my.js')}}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.lang("zh-CN") }}
    <script src="{{ url_for('static', filename='live2dw/lib/L2Dwidget.min.js') }}"></script>
    <script>
    L2Dwidget.init({ "pluginRootPath": "live2dw/", "pluginJsPath": "lib/", "pluginModelPath": "assets/", "tagMode": false, "log": false, "model": { "jsonPath": "{{url_for('static', filename='live2dw/assets/wanko.model.json') }}" }, "display": { "position": "right", "width": 70, "height": 140, "hOffset": 50, "vOffset": -20 }, "mobile": { "show": true } });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>