{% extends 'base.html' %}
{% from 'macros/pagination.html' import render_pagination %}
{% block main_content %}
{% for post in posts %}
<article class="post-block mt-5">
    <div class="post-header">
        <h1 class="post-title">{{post.title}}</h1>
        <div class="text-muted post-meta mt-3">
            <span>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
        创建于: {{ moment(post.timestamp).format('LL')}}
        <span class="post-foot-divider">|</span>
        <i class="fa fa-folder-o" aria-hidden="true"></i>
        分类于: <a class="link-mute" href="{{url_for('main.show_category', category_id = post.category.id)}}">{{ post.category.name }}</a>
        <span class="post-foot-divider">|</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        阅读次数: {{post.read_count}}
            </span>
        </div>
    </div>
    <div class="mt-3 post-body">
        {{ post.body_html | striptags | truncate }}
        <div class="mt-2">
        <a href="{{url_for('main.show_post',post_id=post.id, from_index=True)}}" class="btn btn-sm btn-outline-primary">阅读全文&rarr;</a>
        </div>
    </div>
</article>
{% endfor %}
<hr>
{% endblock main_content %}


{% block pagination %}
<!-- Pagination -->
{% if pagination.total !=0 %}
{{render_pagination(pagination)}}
{% endif %}
{% endblock pagination %}
